[Unit]
Description=VCAS service daemon
After=network.target

[Service]
Type=forking
#PIDFile=
ExecStart=/bin/su -c '~oper/bin/cas_qt -d' oper
RemainAfterExit=yes
ExecStop=/usr/bin/killall -9 cas_qt

Environment=LANG= LANGUAGE= LC_CTYPE= LC_NUMERIC= LC_TIME= LC_COLLATE= LC_MONETARY= LC_MESSAGES= LC_PAPER= LC_NAME= LC_ADDRESS= LC_TELEPHONE= LC_MEASUREMENT= LC_IDENTIFICATION=

[Install]
WantedBy=multi-user.target
